<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adia Ogbe Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" asp-append-version="true">
</head>
<body style="margin:0">



    <nav class="navbar navbar-expand-lg navbar-light bg-ui mt-2 container-fluid">
        <div class="container">
            <a class="navbar-brand text-light font-weight-bold" style="padding-left:10px" href="#">Webbutvecklare .NET CMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav ">
                    <li class="nav-item active">
                        <a style="padding-left:10px" class="nav-link text-light" asp-controller="Home" asp-action="Index">Hem <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a style="padding-left:10px" class="nav-link text-light" style="color: #fff;" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a style="padding-left:10px" class="nav-link text-light" style="color: #fff;" asp-controller="CV" asp-action="Index">CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <div>Kontakt</div>
            <p>Telefon: +46 73 394 09 51</p>
            <p>Email: david.n.stahl@gmail.com</p>
            <a class="footer-link" href="https://www.linkedin.com/in/davidnstah/">LinkedIn</a><br />
            &copy; 2020 - David Ståhl
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

