@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container text-center"><img class="responsiv" style="border-radius:50%" src="~/pictures/david.jpg" /></div>
<section class="container text-center" style="padding-top:30px">
    <h2 class="myH2">David Ståhl</h2>

</section>